SUPABASE_PROJECT_ID="urnpbpmjkalltlzkgkks"
SUPABASE_PUBLISHABLE_KEY="eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InVybnBicG1qa2FsbHRsemtna2tzIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODcxOTk5NjEsImV4cCI6MjEwMjc3NTk2MX0.qkAIuN0Nfa2e1jbFFj9pM1nGk4MkS8iQqBkOK0fyb0Q"
SUPABASE_URL="https://urnpbpmjkalltlzkgkks.supabase.co"
VITE_SUPABASE_PROJECT_ID="urnpbpmjkalltlzkgkks"
VITE_SUPABASE_PUBLISHABLE_KEY="eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InVybnBicG1qa2tzIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODcxOTk5NjEsImV4cCI6MjEwMjc3NTk2MX0.qkAIuN0Nfa2e1jbFFj9pM1nGk4MkS8iQqBkOK0fyb0Q"
VITE_SUPABASE_URL="https://urnpbpmjkalltlzkgkks.supabase.co"
